absl-py==2.3.0
alembic==1.14.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.3
APScheduler==3.10.0
arrow==1.2.3
astor==0.8.1
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
backcall==0.1.0
backports.zoneinfo==0.2.1
bashplotlib==0.6.5
beautifulsoup4==4.8.2
bids-validator==1.10.0
biopython==1.76
blinker==1.4
blosc==1.7.0
bokeh==2.2.3
bx-python==0.9.0
CacheControl==0.12.6
cachetools==5.5.2
cbor==1.0.0
ceph==1.0.0
cephfs==2.0.0
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.0.1
ci-info==0.3.0
click==8.1.3
click-default-group-wheel==1.2.2
cloudpickle==1.3.0
codecarbon==2.1.4
colorama==0.4.3
coloredlogs==7.3
colorlog==6.10.1
constantly==15.1.0
contextvars==2.4
croniter==0.3.29
cryptography==2.8
cupshelpers==1.0
cutadapt==2.8
cwltool==2.0.20200224214940
cycler==0.10.0
Cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
distro==1.4.0
dnaio==0.4.1
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
etelemetry==0.3.0
filelock==3.0.12
fmriprep==22.1.1
formulaic==0.3.4
fsspec==0.6.1
fuse-python==1.0.0
fuzzywuzzy==0.18.0
google-auth==2.40.2
google-auth-oauthlib==1.0.0
greenlet==3.1.1
grpcio==1.70.0
h5py==2.10.0
html5lib==1.0.1
HTSeq==0.11.2
httplib2==0.14.0
humanfriendly==4.18
hydra-core==1.3.2
hyperlink==19.0.0
idna==2.8
imageio==2.25.0
immutables==0.14
importlib-metadata==8.5.0
importlib-resources==5.10.2
incremental==16.10.1
indexed-gzip==1.7.0
interface-meta==1.3.0
iotop==0.6
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
jdcal==1.0
jedi==0.15.2
Jinja2==3.0.1
jmespath==0.9.4
joblib==1.2.0
jsonschema==3.2.0
jupyter-core==4.6.3
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
locket==0.2.0
lockfile==0.12.2
looseversion==1.0.3
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
mako==1.3.10
mapca==0.0.3
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.1.2
mistune==0.8.4
mne==0.19.1
more-itertools==4.2.0
mpi4py==3.0.3
mpmath==1.3.0
msgpack==0.6.2
mypy-extensions==0.4.3
mysqlclient==1.4.4
nbformat==5.0.4
netifaces==0.10.4
networkx==2.4
nibabel==5.0.0
nilearn==0.10.0
nipype==1.8.5
nistats==0.0.1rc0
nitime==0.9
nitransforms==22.0.0
niworkflows==1.7.1
nose==1.3.7
num2words==0.5.12
numexpr==2.7.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
olefile==0.46
omegaconf==2.3.0
openpyxl==3.0.3
optuna==4.5.0
packaging==20.3
pandas==1.5.3
parso==0.5.2
partd==1.0.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.4.0
plotly==4.4.1
pluggy==0.13.0
prettytable==0.7.2
prompt-toolkit==2.0.10
protobuf==5.29.5
prov==1.5.2
psutil==5.5.1
py==1.8.1
py-cpuinfo==9.0.0
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybids==0.15.5
pycairo==1.16.2
pycryptodomex==3.6.1
pycups==1.9.73
pydicom==1.4.1
pydot==1.4.2
pyFFTW==0.12.0
Pygments==2.3.1
PyGObject==3.36.0
pygraphviz==1.5
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymol==2.3.0
PyMySQL==0.9.3
PyNaCl==1.3.0
pynvml==11.4.1
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pysam==0.15.4
pytest==4.6.9
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-gnupg==0.4.5
python-snappy==0.5.3
python-sql==1.1.0
PyTrie==0.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==5.3.1
pyzmq==20.0.0
rados==2.0.0
rbd==2.0.0
rdflib==6.2.0
rdflib-jsonld==0.4.0
reportlab==3.5.34
requests==2.28.2
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
retrying==1.3.3
rgw==2.0.0
rsa==4.9.1
ruamel.yaml==0.15.89
schema-salad==5.0.20200220195218
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
screen-resolution-extra==0.0.0
sdcflows==2.2.2
seaborn==0.12.2
SecretStorage==2.3.1
service-identity==18.1.0
shellescape==3.4.1
simple-sqlite==2.1.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sklearn-pandas==1.8.0
smriprep==0.10.0
soupsieve==1.9.5
SPARQLWrapper==1.8.5
sqlalchemy==2.0.44
sqlite-fts4==1.0.3
sqlite-utils==3.30
ssh-import-id==5.10
svgutils==0.3.4
sympy==1.13.3
systemd-python==234
tables==3.6.1
tabulate==0.9.0
tedana==0.0.12
templateflow==23.0.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.1.0
tifffile==2023.2.3
toml==0.10.2
toolz==0.9.0
torch==2.4.1
torch-vision==0.1.6.dev0
tornado==6.2
tqdm==4.30.0
traitlets==4.3.3
traits==6.3.2
transforms3d==0.4.1
triton==3.0.0
Twisted==18.9.0
txaio==2.10.0
typing-extensions==4.13.2
tzdata==2022.7
tzlocal==4.2
u-msgpack-python==2.1
ubuntu-advantage-tools==8001
urllib3==1.25.8
virtualenv==20.0.17
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==3.0.6
wrapt==1.14.1
wsaccel==0.6.2
xattr==0.9.6
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
xopen==0.8.4
zipp==3.20.2
zope.interface==4.7.1
